#  class `lua SnakeToPascalCase(vim.fn.expand('%:t:r'))` {}
snippet fdc freezed-data-class 
	@freezed
	class `lua print(SnakeToPascalCase(vim.fn.expand('%:t:r')))` with _$`lua print(SnakeToPascalCase(vim.fn.expand('%:t:r')))` {
		$0
	}
