#  class `lua SnakeToPascalCase(vim.fn.expand('%:t:r'))` {}
snippet fdc freezed-data-class 
	class `lua print(SnakeToPascalCase(vim.fn.expand('%:t:r')))` extends _$`lua print(SnakeToPascalCase(vim.fn.expand('%:t:r')))` {
		$0
	}
